<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header"></div>

</head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="jumbotron">
        <h1>You successfully added a new order!</h1>
        <h1>Your oder number is: <span th:text="${orderNumber}"></span> </h1>
    </div>

    <div>
        <a href="/cart">Make a new order</a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>